<?xml version="1.0" encoding="utf-8"?>
<!-- ============================================================================== -->
<!-- RTMS — Real-Time Multicam System                                               -->
<!-- Manifiesto de ejecución CLR .NET para la versión portable                  -->
<!-- Desarrollado por Joaquín Yarsky (joaquinyarsky@gmail.com)                      -->
<!-- ============================================================================== -->
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
  <runtime>
    <loadFromRemoteSources enabled="true"/>
  </runtime>
</configuration>
